.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: hsl(230, 17%, 14%);
  padding:2% 0;
  font-family: "Inter", sans-serif;
}

.main-head-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-heading{ 
  font-size: 1.6em;
  font-weight: 600;
}

.container-m{
  display: flex;
  color:white;
}


.main-card{
  background-color: hsl(228, 28%, 20%);
  color: white;
  display: flexbox;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 220px;
  
}
.fb-bt{
  border-top: 5px solid hsl(208, 92%, 53%);
}
.tw-bt{
  border-top: 5px solid hsl(208, 92%, 53%);
}
.in-bt{
  border-top:5px solid;
  border-top-color: rgb(253,196,104);
  border-top-color: linear-gradient(90deg, rgba(253,196,104,1) 0%, rgba(223,73,150,1) 100%);
}
.yt-bt{
  border-top: 5px solid hsl(348, 97%, 39%);
}

.card-tag{
  color:hsl(228, 34%, 66%);
  font-weight: 600;
  font-size: 0.8em;
}

.card-head{
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 0;
  margin-top: 0px;
  height: 80px;
}
.card-word{
  word-spacing: 10px;
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
}
.card-alert{
  font-size: 0.75em;
  font-weight: 600;
  color:hsl(163, 72%, 41%);
}

/* overview.js */

.icon{
  height: 20px;
  width: 20px;
  display: block;
}

.second-heading{
  font-size: 1.4em;
  font-weight: 600;
}

.overview-card{
  background-color: hsl(228, 28%, 20%);
  color: white;
  display: flex;
  width:100%;
  height: 120px;
  padding:20px 30px;
}

.overview-item{
  display:inline-block;
}

.overview-value{
  font-size: 1.8em;
  font-weight: 700;
}

.overview-head,.sub-head{
  color:hsl(228, 34%, 66%);
  font-weight: 600;
}

.one{
  width: 100%;
  display : flex;
  justify-content: space-between;
}

.two{
  width: 100%;
  display:flex;
  align-items:end;
  justify-content: space-between;
}

.desaturated-blue-text{
  color:hsl(228, 34%, 66%)
}

/* Button */ 

*{
  padding: 0;
  margin: 0;
}

.button{
  background: rgb(55,143,230);
  background: linear-gradient(90deg, rgba(55,143,230,1) 0%, rgba(62,218,130,1) 100%);
  width: 50px;
  height: 25px;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.button::before{
  position: absolute;
  content: '';
  background-color:hsl(230, 17%, 14%);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 3px;
  transition: 0.2s;
}
input:checked + .button{
  background-color: #d2d2d2;
}
input:checked + .button::before{
  transform: translateX(24px);
  background-color:white;
}
input{
  display: none;
}